</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script>var base_path = "{{server.context-path}}";</script>
<script src="{{server.context-path}}webjars/jquery/jquery.min.js"></script>
<script src="{{server.context-path}}webjars/popper.js/1.16.0/dist/popper.min.js"></script>
<script src="{{server.context-path}}webjars/bootstrap/js/bootstrap.min.js"></script>

<script src="{{server.context-path}}webjars/sockjs-client/sockjs.min.js"></script>
<script src="{{server.context-path}}webjars/stomp-websocket/stomp.min.js"></script>

<script type="text/javascript" src="{{server.context-path}}js/bpmn-navigated-viewer.production.min.js"></script>
<script src="{{server.context-path}}js/app.js"></script>

</body>
</html>