</div>

<script>var base_path = "{{context-path}}";</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{context-path}}webjars/jquery/jquery.min.js"></script>
<script src="{{context-path}}webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="{{context-path}}webjars/bootstrap/js/bootstrap.min.js"></script>

<script src="{{context-path}}webjars/sockjs-client/sockjs.min.js"></script>
<script src="{{context-path}}webjars/stomp-websocket/stomp.min.js"></script>

<script type="text/javascript" src="{{context-path}}js/bpmn-navigated-viewer.production.min.js"></script>
<script src="{{context-path}}js/app.js"></script>

</body>
</html>
