<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <title> Zeebe Simple Monitor </title>

    <!-- bpmn-js viewer -->
    <link type="text/css" rel="stylesheet" href="{{context-path}}css/modeler.css"/>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{{context-path}}css/bootstrap.min.css" />

	<link rel="stylesheet" type="text/css" href="{{context-path}}css/app.css" />

    <link rel=icon href="{{context-path}}img/favicon.ico">

</head>

<body onload="connect()" onunload="disconnect()">

	<nav class="navbar navbar-expand-md navbar-light bg-white mb-2 top-nav-border">
		<a class="navbar-brand" href="{{context-path}}">
			<img src="{{context-path}}img/logo.png" width="40" alt="Logo">
			<span class="h3">Zeebe Simple Monitor</span>
		</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/workflows">Workflows</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/instances">Instances</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/incidents">Incidents</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/jobs">Jobs</a>
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/messages">Messages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{context-path}}views/errors">Errors</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">

		<div id="errorPanel" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Error:</strong> <span id="errorText"></span>
		  <button type="button" class="close" aria-label="Close" onclick="$('.alert').hide()">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

		<div id="successPanel" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Success:</strong> <span id="successText"></span>
		  (<a href="#" onClick="reload()">Refresh</a>)
		  <button type="button" class="close" aria-label="Close" onclick="$('.alert').hide()">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

		<div id="infoPanel" class="alert alert-primary alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Info:</strong> <span id="infoText"></span>
		  (<a href="#" onClick="reload()">Refresh</a>)
		  <button type="button" class="close" aria-label="Close" onclick="$('.alert').hide()">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
