<div class="modal fade" id="completeJobModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="completeJobModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Complete Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      
      	<div class="form-group">
          <label class="col-form-label">Payload</label>
          <textarea id="payload-{{key}}" class="form-control" style="height:150px; overflow: auto;">{}</textarea>
        </div>
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      	<button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="completeJob({{key}})">Complete</button>
    	</div>
      
    </div>
  </div>
</div>