<div class="modal fade" id="failJobModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="failJobModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fail Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      
      	Are you sure?
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      	<button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="failJob({{key}})">Fail</button>
    	</div>
      
    </div>
  </div>
</div>