<div id="diagramCanvas" class="bpmn-io-viewer-height">
    <div id="diagramWarningText" style="display: none" class="alert alert-warning" role="alert"></div>
</div>


<script type="application/javascript">
    var RAW_BPMN_RESOURCE = `{{{resource}}}`;

    function renderDiagram() {
        if (RAW_BPMN_RESOURCE === 'WARNING-NO-XML-RESOURCE-FOUND') {
            let warningTextElement = document.getElementById('diagramWarningText');
            warningTextElement.appendChild(document.createTextNode(
                'There was no process definition nor BPMN diagram found for this instance.'));
            warningTextElement.style.display = 'block';
        } else {
            renderBpmnDiagramFromXml(RAW_BPMN_RESOURCE)
        }
    }

    function renderBpmnDiagramFromXml(xmlString) {
        var bpmnViewer = new BpmnJS({container: '#diagramCanvas', width: '100%', height: '100%'});
        try {
            bpmnViewer.importXML(xmlString)
            .then(function (){
                addMarkers(bpmnViewer);

                var bpmnElementInfo = {};
                {{#instance.bpmnElementInfos}}
                bpmnElementInfo['{{elementId}}'] = '{{info}}';
                {{/instance.bpmnElementInfos}}

                var infoOverlayId;
                var overlays = bpmnViewer.get("overlays");
                var eventBus = bpmnViewer.get("eventBus");
                eventBus.on("element.hover", function (e) {
                    var elementId = e.element.id;
                    var info = bpmnElementInfo[elementId];
                    if (info) {
                        infoOverlayId = overlays.add(elementId, 'note', {
                            position: {
                                bottom: -5,
                                left: 0
                            },
                            html: '<div class="bpmn-info">' + info + '</div>'
                        });
                    }
                });

                eventBus.on("element.out", function (e) {
                    if (infoOverlayId) {
                        overlays.remove(infoOverlayId);
                    }
                });
            });
        } catch (e) {
            showError("Can't import BPMN diagram. Error: " + err);
            return -1;
        }
    }

    function addMarkers(bpmnViewer) {
        var canvas = bpmnViewer.get('canvas');
        var overlays = bpmnViewer.get('overlays');
        var injector = bpmnViewer.get('injector');
        var elementRegistry = injector.get('elementRegistry');
        var graphicsFactory = injector.get('graphicsFactory');

        // zoom to fit full viewport
        canvas.zoom('fit-viewport');

        {{#instance.elementInstances}}
          addElementInstanceCounter(overlays, '{{elementId}}', {{activeInstances}}, {{endedInstances}});
        {{/instance.elementInstances}}

        {{#instance}}

            {{#activeActivities}}
            var elementId = "{{.}}";
            addElementInstanceActiveMarker(canvas, elementId);
            {{/activeActivities}}

            {{#incidentActivities}}
            var elementId = "{{.}}";
            addElementInstanceIncidentMarker(canvas,elementId);
            {{/incidentActivities}}

            {{#incidents}}
            {{^isResolved}}
              addIncidentMarker(overlays,'{{elementId}}');
            {{/isResolved}}
            {{/incidents}}

            {{#takenSequenceFlows}}
            var flow = "{{.}}";
            markSequenceFlow(elementRegistry, graphicsFactory, flow);
            {{/takenSequenceFlows}}

        {{/instance}}
    }

    document.addEventListener('DOMContentLoaded', function () {
        renderDiagram();
    }, false);
</script>
