<div class="modal fade" id="variableUpdatesModal-{{scopeKey}}-{{name}}" tabindex="-1" role="dialog"
     aria-labelledby="variableUpdatesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Variable Updates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label class="col-form-label">Scope Key</label>
                    <input class="form-control" type="text" value="{{scopeKey}}" readonly/>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input class="form-control" type="text" value="{{name}}" readonly/>
                </div>

                <table class="table table-striped">
                    <thead>
                    <th>Value</th>
                    <th>Time</th>
                    </thead>

                    {{#updates}}
                    <tr>
                        <td>{{value}}</td>
                        <td>{{timestamp}}</td>
                    </tr>
                    {{/updates}}

                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>