<table class="table table-striped">
    <thead>
    <th>Element Id</th>
    <th>Element Instance Key</th>
    <th>Flow Scope Key</th>
    <th>State</th>
    <th>Element Name</th>
    <th>BPMN Element Type</th>
    <th>Time</th>
    </thead>

    {{#instance.auditLogEntries}}
    <tr>
        <td>{{>components/bpmn-element-id}}</td>
        <td>{{key}}</td>
        <td>{{flowScopeKey}}</td>
        <td>{{state}}</td>
        <td>{{elementName}}</td>
        <td>{{bpmnElementType}}</td>
        <td>{{timestamp}}</td>
    </tr>
    {{/instance.auditLogEntries}}

</table>

{{>components/table-pagination}}
