<table class="table table-striped">
    <thead>
    <th>Element Id</th>
    <th>Element Instance Key</th>
    <th>Called Workflow Instance Key</th>
    <th>Called BPMN process id</th>
    <th>Called Workflow Instance State</th>
    </thead>

    {{#instance.calledWorkflowInstances}}
    <tr>
        <td>{{>components/bpmn-element-id}}</td>
        <td>{{elementInstanceKey}}</td>
        <td>
            <a href="{{context-path}}views/instances/{{childWorkflowInstanceKey}}">{{childWorkflowInstanceKey}}</a>
        </td>
        <td>{{childBpmnProcessId}}</td>
        <td>{{childState}}</td>
    </tr>
    {{/instance.calledWorkflowInstances}}

</table>
