<table class="table table-striped">
    <thead>
    <th>Element Id</th>
    <th>Element Instance Key</th>
    <th>Called Process Instance Key</th>
    <th>Called BPMN process id</th>
    <th>Called Process Instance State</th>
    </thead>

    {{#instance.calledProcessInstances}}
    <tr>
        <td>{{>components/bpmn-element-id}}</td>
        <td>{{elementInstanceKey}}</td>
        <td>
            <a href="{{context-path}}views/instances/{{childProcessInstanceKey}}">{{childProcessInstanceKey}}</a>
        </td>
        <td>{{childBpmnProcessId}}</td>
        <td>{{childState}}</td>
    </tr>
    {{/instance.calledProcessInstances}}

</table>

{{>components/table-pagination}}
