{{>layout/header}}

<div class="row">
	<div class="col-md-12">

		<span>{{count}} open jobs</span>

		<table class="table table-striped">
			<thead>
			 	<th>Job Key</th>
			 	<th>Job Type</th>
			  <th>Workflow Instance Key</th>
			  <th>Retries</th>
			  <th>State</th>
				<th>Time</th>
		</thead>

		{{#jobs}}
			<tr>
				<td>{{key}}</td>
				<td>{{jobType}}</td>
				<td>
					<a href="{{context-path}}views/instances/{{workflowInstanceKey}}">{{workflowInstanceKey}}</a>
				</td>
				<td>{{retries}}</td>
				<td>{{state}}</td>
				<td>{{timestamp}}</td>
			</tr>
		{{/jobs}}

		</table>

		{{>components/table-pagination}}

	</div>
</div>

{{>layout/footer}}
