<table class="table table-striped">
    <thead>
    <th>User Task Key</th>
    <th>BPMN Process Id</th>
    <th>BPMN Element Id</th>
    <th>Process Instance Key</th>
    <th>Element Instance Key</th>
    <th>Status</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    </thead>

    {{#instance.userTasks}}
    <tr>
        <td>{{key}}</td>
        <td>{{bpmnProcessId}}</td>
        <td>{{elementId}}</td>
        <td>{{processInstanceKey}}</td>
        <td>{{elementInstanceKey}}</td>
        <td>{{status}}</td>
        <td>{{start}}</td>
        <td>{{end}}</td>
        <td>
            {{>modals/complete-user-task-modal}}

            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#completeUserTaskModal-{{processInstanceKey}}-{{key}}"
                    {{^instance.isRunning}}disabled{{/instance.isRunning}} {{^notActive}}hidden{{/notActive}} >
            Complete
            </button>
        </td>
    </tr>
    {{/instance.userTasks}}

</table>

{{>components/table-pagination}}
