<table class="table table-striped">
	<thead>
		<th>Element Id</th>
	  <th>Element Instance Key</th>
	 	<th>Message Name</th>
	 	<th>Correlation Key</th>
	 	<th>State</th>
	  <th>Time</th>
	  <th> </th>
</thead>

{{#instance.messageSubscriptions}}
	<tr>
		<td>{{activityId}}</td>
		<td>{{activityInstanceKey}}</td>
		<td>{{messageName}}</td>
		<td>{{correlationKey}}</td>
		<td>{{state}}</td>
		<td>{{timestamp}}</td>
		<td>		
			 {{#isOpen}}
			 
			 		{{>modals/publish-message-modal}}			
			 
			 		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#publishMessageModal">
				  	Publish Message
					</button>
					
			 {{/isOpen}}			
		</td>
		</tr>
{{/instance.messageSubscriptions}}

</table>